h1 {
  color: purple;
  font-style: oblique;
  font-size: 30px;
}

.note {
  color: rgb(32, 32, 32);
  padding-top: 5px;
  font-size: 15px;
}

.importance {
  color: black;
  background-color: white;
}

.error {
  color: red;
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.remove {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}

.update {
  color: blue;
  font-size: 14px;
}
